<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="not-found">
        <div class="not-image">
            <div class="found-image"></div>
        </div>
        <a class="login_button" href="/">Go Back Home</a>
    </div>

<%- include('includes/end.ejs') %>